@import url('https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Quicksand:wght@300..700&family=Volkhov:wght@700&display=swap');

body{
    font-family:'Poppins',sans-serif;
    background-color: #f1f1f1;
}

div{
    display:block;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size:80px;
    color:#363958;
    padding: 0px;
    margin: 0px;
}
h2{
    font-family: 'Bebas Nene';
    font-size: 48px;
    color:#363958;
}
h4{
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color:#363958;
}
h5{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#363958;
}

#header{
    height: 100vh;
    padding: 85px 0 70px 0px;
    background-color: #f4f5ff;
}

#header span{
    font-weight: 700;
}

.custom-navbar{
    background-color:#f1f1f1;
}

.custom-ul{
    text-align: center;
    background-color: #fff;
}

.shadow{
    box-shadow: 0 .5rem 1 rem rgba(0,0,0,0.8)
}
.custom-li{
    font-weight:700;
    padding:0px 25px;
}

.custom-logo{
    width: 30%;
    font-family: 'Bebas Neue', sans-serif;
}

.custom-highlight{
    color:#dc3545;
}

.custom-btn{
    background-color: #3d4ff3;
    padding: 10px;
    border: none;
    outline: none;
}

.custom-card{
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0 ,0 ,0.05);
    border: none;
}

.custom-img-width{
    width: 80px;

}

.custom-service-card{
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border:none;
}

.custom-footer{
    background-color: transparent;
    border: none;
}
.custom-bg{
    height: 350px;
    background:#f1f1f1 ;
    border-radius: 12px;
}

#footer{
    padding: 25px 0px;
}
footer h5{
    padding: 10px 0;
}
#footer li a{
    text-decoration: none;
}